<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />

    <add key="Tailspin.SpaceGame.Web.Models2" value="https://stenrosendahl0473.pkgs.visualstudio.com/f86a92c8-b759-4046-b039-95cba2c342f4/_packaging/Tailspin.SpaceGame.Web.Models2/nuget/v2/index.json" />

  </packageSources>
</configuration>
