<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />

    <add key="Tailspin.SpaceGame.Web.Models" value="https://stenrosendahl0473.pkgs.visualstudio.com/4dc9b01f-f058-46ac-bda3-0e7fb685d254/_packaging/Tailspin.SpaceGame.Web.Models/nuget/v3/index.json" />

  </packageSources>
</configuration>
